# Object file
*.o

# Executable file
*.exe

# Temp Code Runner
tempCodeRunnerFile.cpp

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json